body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-list {
  margin-right: 25px;
}

.slick-track {
  padding-top: 15px;
  padding-bottom: 45px;
}

.slick-prev::before,
.slick-next::before {
  color: rgb(52, 69, 99) !important;
  font-size: 30px !important;
  opacity: 1 !important;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-arrow {
  margin-top: -2.5% !important;
  top: 55% !important;
}

.MuiTableRow-root-814 {
  height: 40px !important;
}

.MuiFormLabel-root-535.MuiFormLabel-focused-536 {
  color: rgb(52, 69, 99) !important;
}

.MuiFormLabel-root-535 {
  color: rgb(52, 69, 99) !important;
}

.MuiInput-underline-295:after {
  border-bottom: 2px solid rgb(52, 69, 99) !important;
}

.transInput {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
